# Dependências
node_modules
.pnpm-store

# Arquivos de ambiente
.env
.env.local

# Arquivos de build
dist

# Arquivos de controle de versão
.git
.github

# Arquivos de IDE/editores
.idea
.vscode
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*